<html>
<head>
  <title></title>

  <style>
    html, body {
      overflow: hidden;
      height: 100%;
      margin: 0;
    }

    body {
      background: black;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    canvas {
      image-rendering: optimizeSpeed;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
      image-rendering: crisp-edges;
      image-rendering: pixelated;
      -ms-interpolation-mode: nearest-neighbor;
    }
  </style>
</head>
<body>
  <canvas></canvas>

  <%= javascript_include_tag @server.main %>
</body>
</html>
